<%- // include('includes/landing/header.ejs') %>
<%- // include('includes/landing/nav.ejs') %>

	<div class="container">
		<h1><%= pageTitle %></h1>
    <p><%= errorStatus %>: <%= errMessage %></p>

	</div>
<%- // include('includes/landing/footer.ejs') %>